@import "tailwindcss";

/* Full page container */
.app-container {
  
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  
}
::-webkit-scrollbar {
  display: none;
}

/* VANTA BACKGROUND (behind everything) */
.vanta-bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  top: 0;
  width: 100vw;
  min-height: 100%;
  z-index: -1000;
}

/* HERO FULL SCREEN */
.hero {
   
  height: 100vh;
   width: 100vw;
  color: rgb(81, 58, 58);
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h3 {
  font-size: 1.6rem;
  margin-bottom: 250px;
  margin-top: -60px;
  border: 1px solid black;
  border-radius: 30px;
  padding: 12   px;
  width: 150px;
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(38, 23, 23);
  
}

.hero h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-top: -230px;
  margin-bottom: 10px;
}


.hero h2{
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 10px;
    margin-top: -15px;
    
   

}
.typed {
  border-right: 3px solid white;
  padding-right: 6px;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% { border-color: transparent; }
  50% { border-color: white; }
  100% { border-color: transparent; }
}



.hero p{
    font-weight: 400;
    width: 60%;
    text-align: center;
    margin-top: 20px;
    
}



.btnss{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    
    margin-top: 30px;

}

.btnss button{
    border: 1px solid black;
    font-size: 0.8rem;
    width: 100px;
    cursor: pointer;
    height: 40px;
    border-radius: 10px;
    color: white;
    background-color: black;
    transition: 1.1s ease-in-out;
}
.btnss button:hover{
    transform: translate(0,-4px);
    color: gold;
}
.iconss{
    width: 100%;
    height: 50px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.iconss img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 1s ease-in;
}

.iconss img:hover{
    scale: 1.1;
}


/*about design */

.about {
  height: 100vh;
  width: 100vw;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding-top: 80px;   
}

.about h1{
    font-size: 2.1rem;
    margin-bottom: 40px;  
}

.desc{
    display: flex;
    width: 90%;
    margin: 0 auto;
    gap: 40px;
}

.leftdesc{
    width: 40%;
    
    padding: 20px;
  
}
.leftdesc p{
  font-weight: 400;
}
.logoo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
    width: 100%;
    gap: 20px;
}
.logoo img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 1s ease-in;
}
.logoo img:hover{
    transform: translateY(-4px);

}
.rightdesc {
    width: 55%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/* CARD DESIGN */
.aboutcard {
    background: rgba(255, 255, 255, 0.12);     
    border: 1px solid rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(8px);                
    -webkit-backdrop-filter: blur(8px);
    color: black;
    padding: 25px;
    border-radius: 16px;
    height: 230px;
    border: 1px solid rgba(248, 243, 243, 0.8);

    display: flex;
    flex-direction: column;
    gap: 12px;

    transition: 0.3s ease-in-out;
    cursor: pointer;
}

/* Hover effect */
.aboutcard:hover {
    transform: translateY(-6px);
    border-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

/* ICON */
.aboutcard img {
    width: 45px;
    height: 45px;
    opacity: 0.9;
}

/* TITLE */
.aboutcard h1 {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
    color: rgb(0, 0, 0);
}


.aboutcard p {
    font-size: 0.85rem;
    font-weight: 400;
    line-height: 1.4;
    color: #000000;
    margin: 0;
    margin-top: -2px;
}


/* PTOJECT SECTION*/

.projects-section {
  width: 100%;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proj-title {
  font-size: 2.4rem;
  margin-bottom: 40px;
  color: rgb(0, 0, 0);
}

/* Timeline container */
.timeline {
  width: 80%;
  position: relative;
  padding: 40px 0;
}

/* Vertical center line */
.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 3px;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
 
}

/* Each row */
.timeline-row {
  width: 100%;
  display: flex;
  margin-bottom: 60px;
  
  
}

/* LEFT PROJECT */
.timeline-row.left {
  justify-content: flex-start;
}

/* RIGHT PROJECT */
.timeline-row.right {
  justify-content: flex-end;
}

/* CARD STYLE */
.project-card {
  width: 40%;
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255,255,255,0.25);
  border-radius: 16px;
  padding: 20px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  
  transition: 0.3s ease;
  
}

.project-card:hover {
  transform: translateY(-6px);
  border-color: rgba(255,255,255,0.45);
  box-shadow: 0 6px 18px rgba(0,0,0,0.2);
}

/* CARD CONTENT */
.project-card h2 {
  margin-bottom: 8px;
  font-size: 1.4rem;
  font-weight: 700;
  color: #000000;
}

.project-card p {
  font-size: 0.95rem;
  margin-bottom: 10px;
  font-weight: 500;
  color: #000000;
}

.project-card ul {
  margin-left: 0;
  padding-left: 0;
  font-size: 0.85rem;
  color: #000000;
  line-height: 1.4;
  list-style: none;
}

/* LIST ROW LAYOUT */
.project-card ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 6px;
  font-weight: 400;
}

/* GLOWING DOT */
.glow-dot {
  width: 10px;
  height: 10px;
  background: #c4e507;
  border-radius: 50%;
  box-shadow: 0 0 8px #d3da0b;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% { box-shadow: 0 0 5px #ffd700; }
  50% { box-shadow: 0 0 12px #ffea7a; }
  100% { box-shadow: 0 0 5px #ffd700; }
}
.stacks{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;

}

.stacks p{
    font-weight: 500;
    font-size: .7rem;
    border: 1px solid rgb(169, 162, 119);
    border-radius: 20px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 4px rgb(188, 16, 45);
    animation: pulseborder 1.5s infinite ease-in-out;
}

@keyframes pulseborder{
    0%{box-shadow: 0 0 3px rgb(255, 0, 43);}
      0%{box-shadow: 0 0 10px rgb(147, 59, 74);}
        0%{box-shadow: 0 0 3px rgb(255, 0, 43);}
}
.gtlink{
    padding-left: 10px;width: 40px;
    cursor: pointer;
}
.gtlink img{
    width: 25px;
    height: 25px;

}

.myskills {
  width: 80%;
  margin: 0 auto;
  min-height: 100vh;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;

}
    .myskills h1{
        font-size: 2.4rem;
        margin-top: -50px;
        
    }
    .skills-grid {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 20px;
    margin-top: 20px;
    }

    .skill-card {
    background: #ffffff10;
    border: 1px solid #ffffff20;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    backdrop-filter: blur(8px);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
        

    }

    .skill-card:hover {
    transform: translateY(-5px);
    background: #ffffff20;
    }

    .skill-card img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    }

    .skill-card p {
    margin-top: 10px;
    font-size: 17px;
    font-weight: 600;
    }

  






    .contact{
        width: 100%;
        height: 100vh;
    }

    .contact-section {
  width: 100%;
  min-height: 100vh;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.contact-section h1 {
  font-size: 2.4rem;
}

/* Wrapper */
.contact-wrapper {
  width: 80%;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
}

/* LEFT INFO */
.contact-info {
  width: 40%;
  padding: 20px;
  background: rgba(255,255,255,0.12);
  border: 1px solid rgba(255,255,255,0.25);
  border-radius: 14px;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-info h2 {
  font-size: 1.6rem;
  font-weight: 700;
}

.contact-info p {
  font-size: 0.95rem;
  line-height: 1.5;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1rem;
  font-weight: 500;
}

.info-item img {
  width: 30px;
  height: 30px;
}

/* FORM */
.contact-form {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 15px;

  background: rgba(255,255,255,0.12);
  border: 1px solid rgba(255,255,255,0.25);
  padding: 25px;
  border-radius: 14px;
  backdrop-filter: blur(10px);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #000;
  background: rgba(255,255,255,0.5);
  font-size: 1rem;
}

.contact-form textarea {
  height: 120px;
  resize: none;
}

.contact-form button {
  width: 160px;
  padding: 12px;
  border-radius: 8px;
  background: black;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: .3s;
}

.contact-form button:hover {
  transform: translateY(-3px);
  color: gold;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .contact-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .contact-info, .contact-form {
    width: 90%;
  }
}


.hero{
  transform: translateY(40px);
  opacity: 0;
  transition: all 0.8s ease-in;
}

.hero.show{
  opacity: 1;
  transform: translateY(0);
}

.about{
  transform: scale(0.7);
  opacity: 0;
  transition:all 1.2s  ease-in;
}

.about.show{
  transform: scale(1);
  opacity: 1;

}

.fadeup{
   transform: translateY(20px);
  opacity: 0;
  transition: all 0.4s ease-in;
  filter: blur(10px);
}

.fadeup.show{
   transform: translateY(1);
  opacity: 1;
  
  filter: blur(0);
}


.aboutcard{
  transform: translateX(-120px) scale(0.7);
  transition: all 0.9s ease-in-out;
  opacity: 0;
}

.aboutcard.show {
  transform: translateX(0) scale(1);
  opacity: 1;
}

.timeline-row.left{
  transform:  translateX(-100px);
  opacity: 0;
  transition: all 0.8s ease-in;
  filter: blur(10px);
}

.timeline-row.left.show{
  transform:  translateX(0px);
  opacity: 1;
  filter: blur(0);

}

.timeline-row.right{
  transform:  translateX(100px);
  opacity: 0;
  transition: all 0.8s ease-in;
  filter: blur(10px);
}

.timeline-row.right.show{
  transform:  translateX(0px);
  opacity: 1;
  filter: blur(0);

}